.firstSection {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  margin: 0 auto;
  width: 100%;
  border: 2px solid red;
}

.headerLogo {
  color: white;
  font-size: 24px;
  font-family: system-ui;
  border: 2px solid red;
  text-align: start;
  margin-right: 30%;
}

.headerLink {
  color: #E5E7EB;
  font-size: 18px;
  font-family: system-ui;
  border: 2px solid red;
  text-align: start;
  margin-right: 3%;
  padding-right: 2%;
  margin-top: 1.7%;
}

.secondSection {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  margin: 0 auto;
  width: 100%;
  border: 2px solid red;
}